{:infer-externs true, :output-dir "target/public/cljs-out/prod", :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}, :optimizations :whitespace, :aot-cache false, :preloads [day8.re-frame-10x.preload], :output-to "target/public/cljs-out/prod-main.js", :asset-path "/cljs-out/prod", :foreign-libs [{:provides ["react" "react-dom" "google-charts" "firebase" "expand-more" "expand-less" "chevron-left" "chevron-right" "search" "button" "checkbox" "form-control-label" "menu-item" "select" "slider"], :global-exports {google-charts GoogleCharts, select Select, slider Slider, firebase firebase, react React, chevron-left ChevronLeft, menu-item MenuItem, chevron-right ChevronRight, form-control-label FormControlLabel, checkbox Checkbox, button Button, expand-more ExpandMore, search Search, expand-less ExpandLess, react-dom ReactDOM}, :file "dist/index.bundle.js"}], :main pr4.core, :npm-deps false}